* {
    box-sizing: border-box;
}

body {
    font-family: 'Caprasimo', cursive;
    background-color: #ebae34;
    color: #b33744;
}

main {
    width: 1024px;
    margin: 3 rem auto;
    display: grid;
    grid-template-columns: 250px 4fr 4fr;
    grid-template-rows: 6.5rem 10rem 20rem 40%;
}

header {
    text-align: center;
    font-family: 'Caprasimo', cursive;
    font-size: 5rem;
    font-weight: 600;
}

h1 {
    font-family: 'Caprasimo', cursive;
    font-size: 5rem;
    font-weight: 600;
}